h1{
    color:#bf5700;
    /*ackground-color:slategray;*/
    font-size: 30px;
    text-decoration: underline;
    font-family: arial;
}
label{
    color:#bf5700;
    font-size: 20px;
    font-family: arial;
    text-align: center;
}
button{
    color: #ffffff;
    background-color: #bf5700;
    border-color: #a64b00;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 200px;
    height: 50px;
}
input{
        height: 46px;
        width: 100%;
        padding: 10px 16px;
        font-size: 18px;
        border-radius: 6px;
        box-sizing: border-box;
}
div{
    margin-left: 25%;
    margin-right: 25%;
}
