.project-list {
    list-style: none;
    padding: 0;
}

.project-list li {
    cursor: pointer;
    color: #bf5700;
    margin-bottom: 5px;
}

.project-list li:hover {
    text-decoration: underline;
}

.leave-project-icon {
    position: relative;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .leave-project-icon::after {
    content: "Leave Project";
    visibility: hidden;
    width: max-content;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
  
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
  
  .leave-project-icon:hover::after {
    visibility: visible;
    opacity: 1;
  }
  